extends layout

block content
  div(style="margin:auto;background:#ddd;border:0.5px #aaa solid;text-align:center")
    h1= title
    p Bienvenido a #{title}
    a(href="/blobs", style="margin-right:20px;background-color:#ddd") Ver Todos
    a(href="/blobs/new", style="margin-right:20px;background-color:#ddd") Registrar Nuevo
    p asdaskjdasdh

